body {
    font-family: cursive;
    margin: 0;
    padding: 0;
}
header{
  position:fixed;
  display: inline-flex;
  width: 98%;
  align-items: right;
  justify-content:space-between;
}
header {
    background-color: #33333352;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#home h1,h2{
    font-size:35px;
    padding-right:70%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #a33737;
    text-decoration: none;
}
section {
    padding-top: 10%;
    height: 600px;
    text-align: center;
    padding: 90px 20px;
}

footer {
    text-align: right;
    padding: 10px;
    position: fixed;
    bottom: -10px;
    height: 50px;
    width: 95%;
}
footer a img{
    margin-left: 30px;
    height: 60%;
    width: 35px;
    border-radius: 50%;
}
#contact form a img{
    margin-left: 30px;
    height: 60%;
    width: 30px;
    border-radius: 50%;
}
span{
    background-color: aquamarine;
}

.parent {
    margin: 1rem;
    padding: 0rem 2rem;
    text-align: center;
    padding-right: 10%;
    vertical-align: middle;
  }
.right{
    float: right;
    width: 30%; 
    display: inline-flex;
}
.left{
    float: left;
    width: 70%;
    
    display: inline-flex;
}
.right img{
    height: 400px;
    width: 325px;
    border-radius: 20%;
  }
  .left p a{
    border:10px rgb(12, 207, 233);
    background-color:  rgb(12, 207, 233);
    border-radius: 30%;
    color: black;
    border-style:solid;
  }
  .skill-percentage {
    margin-bottom:10px;
    position:relative;
    padding-top: 20px;
    &::after {
      content:"";
      width:100%;
      height:6px;
      display:block;
      margin-top:3px;
    }
    &::before{
      content:"";
      height:6px;
      background: rgba(77, 218, 77, 0.76);
      position:absolute;
      margin-top:3px;
      bottom:0;
    }
    &:nth-child(1)::before {width:80%;animation: skill_1 2s;}
    &:nth-child(2)::before {width:70%; animation: skill_2 2s;} 
    &:nth-child(3)::before {width:60%;animation: skill_3 2s;}
    &:nth-child(4)::before {width:80%;animation: skill_4 2s;}
    &:nth-child(5)::before {width:30%;animation: skill_5 2s;}
    &:nth-child(6)::before {width:70%;animation: skill_6 2s;}
    
  }
  
@keyframes skill_1 {from {width:0%;}to {width:80%;}}
@keyframes skill_2 {from {width:0%;}to {width:70%;}}
@keyframes skill_3 {from {width:0%;}to {width:60%;}}
@keyframes skill_4 {from {width:0%;}to {width:80%;}}
@keyframes skill_5 {from {width:0%;}to {width:30%;}}  
@keyframes skill_6 {from {width:0%;}to {width:70%;}}
